<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link
      rel="icon"
      href="https://image.flaticon.com/icons/svg/1590/1590898.svg"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1 ,shrink-to-fit=no"
      ,
    />
    <meta name="theme-color" content="#000000" />
    <meta name="description" content="One place for all your memories." />
    <link
      rel="apple-touch-icon"
      href="https://image.flaticon.com/icons/svg/1590/1590898.svg"
    />

    <!-- twitter cards -->
    <meta
      property="twitter:title"
      content="Gallery : One place for all your memories."
    />
    <meta name="twitter:card" content="summary" />
    <!-- <meta property="twitter:url" content="" /> -->
    <meta
      property="twitter:description"
      content="One place for all your memories."
    />
    <meta property="twitter:type" content="website" />
    <meta
      property="twitter:image:src"
      content="https://image.flaticon.com/icons/svg/1590/1590898.svg"
    />
    <!-- other cards -->
    <meta
      property="og:title"
      content="Gallery : One place for all your memories."
    />
    <meta property="og:site_name" content="bimlendu.me" />
    <!-- <meta property="og:url" content="https://www.bimlendu.me" /> -->
    <meta
      property="og:description"
      content="One place for all your memories. "
    />
    <meta property="og:type" content="website" />
    <meta
      property="og:image"
      content="https://image.flaticon.com/icons/svg/1590/1590898.svg"
    />

    <title>Gallery : One place for all your memories.</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div id="root"></div>
    <script src="/static/bundle.js"></script>
  </body>
</html>
