.header_contaienr {
  background-image: radial-gradient(
    circle 993px at 0.5% 50.5%,
    rgba(137, 171, 245, 0.37) 0%,
    rgba(245, 247, 252, 1) 100.2%
  );
  border-bottom: 1px solid rgba(137, 171, 245, 0.534);
}

.header_image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}
