$enable-responsive-font-sizes: true;
body {
  background-image: radial-gradient(
    circle 993px at 0.5% 50.5%,
    rgba(137, 171, 245, 0.37) 0%,
    rgba(245, 247, 252, 1) 100.2%
  );
}
@import "./header.scss";
@import "./home.scss";
@import "./footer.scss";
@import "./add_images_pop.scss";
@import "./image_cropper.scss";

.add_image_button {
  cursor: pointer;
  position: fixed;
  text-align: center;
  vertical-align: middle;
  font-size: 2rem;
  z-index: 1;
  top: 85vh;
  right: 5vh;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: transparent;
  color: rgb(137, 171, 245);
}

.btn_background {
  background: rgb(71, 97, 153) !important;
  border: 1px solid rgba(137, 171, 245, 0.534) !important;
}
